* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 30% 55% 15%;
}

.left-up-left {
  padding: 3vw;
}
#square {
  width: 2vw;
  height: 2vw;
  background-color: #000;
  rotate: 45deg;
}
.left-up-right {
  padding: 2vw;
}
.left-up-right h4 {
  justify-self: end;
  margin-bottom: 3.6vw;
  font-weight: 1300;
}
.left-up-right h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-self: end;
  font-weight: 300;
}
.left-middle {
  grid-column: 1/3;
  padding-left: 4vw;
  padding-top: 3vw;
}
.left-middle h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5.3vw;
  text-transform: uppercase;
  line-height: 4.8vw;
  font-weight: 500;
}
.left-middle :nth-child(2n) {
  justify-self: end;
  padding-right: 15vw;
}
.left-bottom {
  grid-column: 1/3;
  padding-left: 3.3vw;
}
.left-bottom h4 {
  font-weight: 500;
}
.right {
  grid-column: 3;
  grid-row: 1/4;
  padding: 3vw;
  padding-right: 5vw;
}
.right video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#arrow {
  position: absolute;
  padding: 1.5vw;
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: orangered;
  border-radius: 50%;
  margin-left: 5vw;
}
i {
  color: #fff;
  font-weight: 300;
  font-size: 2vw;
}

@media (max-width: 640px) {
  .main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 16% 30% 10%;
  }

  .right {
    width: 100%;
    grid-column: 1/4;
    grid-row: 4;
    padding: 3vw;
    padding-right: 5vw;
  }
  #arrow {
    position: absolute;
    padding: 1.5vw;
    display: flex;
    display: none;
    justify-self: center;
    align-self: center;
    background-color: orangered;
    border-radius: 50%;
    margin-left: 5vw;
  }
  .left-middle h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 8vw;
  text-transform: uppercase;
  line-height: 12vw;
  font-weight: 500;
  padding-left: 18vw;
}
.left-middle :nth-child(2n) {
  justify-self: end;
  padding-right: 25vw;
}
.left-up-left {
  padding-left: 5vw;
  padding-top: 4vw;
}
.left-up-right {
  padding: 4vw;
}
}
